<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Greenhouse MQTT on %h</name>
  <service>
    <type>_mqtt._tcp</type>
    <port>9001</port>
    <txt-record>tls=true</txt-record>
  </service>
</service-group>
